# Αγνοούμε όλα τα αρχεία (όχι τα directories)
*
!*/

# Εκτός από τα παρακάτω
!*.cpp
!*.cc
!*.h
!*.hpp
!Makefile
!README.md
!*.mk
!*.yml
!*.tex
!*.txt

# vscode directory
!launch.json
!tasks.json
!settings.json
!set_program_args.pl
!visualize*

# MNIST directory
*ubyte
