*
!*/

!*.cpp
!*.cc
!*.h
!*.hpp
!*.py
!Makefile
!README.md
!*.mk
!*.yml
!*.tex
!*.bin
!*.ipynb

!launch.json
!tasks.json
!settings.json
!cluster.conf
!set_program_args.pl
!visualize*

*ubyte

!*.keras