# Αγνοούμε όλα τα αρχεία (όχι τα directories)
*
!*/

# Εκτός από τα παρακάτω
!*.cpp
!*.cc
!*.h
!*.hpp
!*.py
!Makefile
!README.md
!*.mk
!*.yml
!*.tex
!*.bin
!*.ipynb

# vscode directory
!launch.json
!tasks.json
!settings.json
!cluster.conf
!set_program_args.pl
!visualize*

# MNIST directory
*ubyte

!*.keras